@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-slate-950 text-white font-sans antialiased;
  }
}

@layer components {
  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .bg-gradient-conic {
    background: conic-gradient(var(--conic-position), var(--tw-gradient-stops));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} 